[Unit]
Description=Sonarr docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30
User=docker
ExecStart=/usr/bin/docker run --rm \
                              --name=sonarr \
                              -v /home/docker/downloadbox/sonarr/config:/config \
                              -v /home/docker/downloadbox/sonarr/downloads:/downloads \
                              -v /home/docker/tvseries:/tv \
                              -e PGID=1000 -e PUID=1000  \
                              -e TZ=Europe/Berlin \
                              --network host \
                              linuxserver/sonarr

ExecStop=/usr/bin/docker stop sonarr

[Install]
WantedBy=multi-user.target
