[Unit]
Description=Bazarr docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30
User=docker
ExecStart=/usr/bin/docker run --rm \
                              --name=bazarr \
                              -v /home/docker/downloadbox/bazarr/config:/config \
                              -v /home/docker/movies:/movies \
                              -v /home/docker/tvseries:/tv \
                              -e PGID=1000 -e PUID=1000  \
                              -e TZ=Europe/Berlin \
                              --network host \
                              linuxserver/bazarr

ExecStop=/usr/bin/docker stop bazarr

[Install]
WantedBy=multi-user.target
