[Unit]
Description=Jackett docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30
User=docker
ExecStart=/usr/bin/docker run --rm \
                              --name=jackett \
                              -v /home/docker/downloadbox/jackett/config:/config \
                              -v /home/docker/downloadbox/jackett/blackhole:/downloads \
                              -e PGID=1000 -e PUID=1000  \
                              -e TZ=Europe/Berlin \
                              --network host \
                              linuxserver/jackett

ExecStop=/usr/bin/docker stop jackett

[Install]
WantedBy=multi-user.target
