[Unit]
Description=Deluge docker container
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30
User=docker
ExecStart=/usr/bin/docker run --rm \
                              --name=deluge \
                              -v /home/docker/downloadbox/deluge/config:/config \
                              -v /home/docker/downloadbox/downloads:/downloads \
                              -e PGID=1000 -e PUID=1000  \
                              -e TZ=Europe/Berlin \
							  -e DELUGE_LOGLEVEL=error \
                              --network host \
                              linuxserver/deluge

ExecStop=/usr/bin/docker stop deluge

[Install]
WantedBy=multi-user.target
